@use "./../../styles/button";

.header {
    padding: 10px 2vw 10px 2vw;
    display: grid;
    grid-template: "logo logo logo auth";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 96vw;
    height: 50px;
    background: rgb(249,195,195);
    background: linear-gradient(68deg, rgba(249,195,195,1) 0%, rgba(254,217,217,1) 50%, rgba(252,69,69,1) 100%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Тень для добавления глубины
    border-radius: 0px 0px 5px 5px;

    &__logo{
        grid-area: logo;
    }

    &__auth{
        display: flex;
        justify-content: space-around;
        align-items: center;

        .auth-button{
            $background-color: rgb(200, 240, 255);
            @include button.button($background-color);
            background-color: $background-color;
        }

    }
}

