@use './../../../shared/styles/forms';
@use './../../../shared/styles/button';
@import './../../../shared/components/dialog/dialog.component.scss';

.dialog {
    height: fit-content;
}

.form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    width: 270px;
    padding-top: 0px;

    &__input{
        @include forms.text-input;
        width: 250px;
    }

    &__label{
        @include forms.label();
    }

    &__button-confirm {
        @include button.button-confirmed();
        font-size: 16px;
        margin: 10px 35px;
        width: fit-content;
    }
}