@use "./../../../../shared/styles/avatar";
@use "./../../../../shared/styles/button";


$font-family: Arial, sans-serif;
$color-primary: #3498db;

.profile-info {
    padding-top: 70px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        font-size: 24px;
        margin-bottom: 30px;
    }
}

.avatar{
    @include avatar.avatar();
}

.profile-form {
    display: grid;
    grid-template: 
    "start end"
    "start end"
    "start end"
    "start end"
    ;
    grid-template-rows: repeat(5, 1fr);
    width: 80vw;
    max-width: 800px;

    &__item {
        margin-bottom: 15px;
        padding: 0px 20px 0px 20px;

        &--start{
            width: 300px;
            grid-area: start;
        }

        &--prestart{
            width: 300px;
        }
    }

    &__label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    &__input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;

        &--select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            padding: 10px 50px 10px 10px;
            cursor: pointer;
        }

        &--file {
            grid-area: avatar;
            cursor: pointer;
        }
    }

    &__submit {
        max-height: 50px;
        margin: 10px;
        @include button.button-confirmed();
    }
}
