<section class="profile-info">
    <img src="profile.svg" alt="logo" height="50px" width="200px">
    <form class="profile-form" [formGroup]="profileForm">
        <div class="profile-form__item profile-form__item--end">
            <label class="profile-form__label" for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="example@email.com" class="profile-form__input" formControlName="email">
        </div>
        <div class="profile-form__item profile-form__item--end">
            <label class="profile-form__label" for="name">Имя:</label>
            <input type="text" id="name" name="name" placeholder="Иван" class="profile-form__input" formControlName="name">
        </div>
        <div class="profile-form__item profile-form__item--end">
            <label class="profile-form__label" for="surname">Фамилия:</label>
            <input type="text" id="surname" name="surname" placeholder="Иванов" class="profile-form__input" formControlName="surname">
        </div>
        <div class="profile-form__item profile-form__item--end">
            <label class="profile-form__label" for="birthdate">Дата рождения:</label>
            <input type="date" id="birthdate" name="birthdate" class="profile-form__input" formControlName="birthdate">
        </div>
        <div class="profile-form__item profile-form__item--prestart">
            <label class="profile-form__label" for="gender">Пол:</label>
            <select id="gender" name="gender" class="profile-form__input profile-form__input--select" formControlName="gender" >
                <option value="">Выберите пол</option>
                <option value="Мужской">Мужской</option>
                <option value="Женский">Женский</option>
            </select>
        </div>
        <div class="profile-form__item profile-form__item--start">
            @if (profileForm.controls.avatarPath.value !== '') {
                <img class="avatar" ngSrc="{{profileForm.controls.avatarPath.value}}" alt="avatar" height="300" width="300" priority/>
            } @else {
                <img class="avatar" ngSrc="'avatar.webp'" alt="avatar" height="300" width="300" priority/>
            }
            <label class="profile-form__label" for="avatar">Аватар:</label>
            <input type="file" id="avatar" name="avatar" accept="image/*" (change)="loadAvatar($event)" class="profile-form__input profile-form__input--file" formControlName="avatarPath">
        </div>
        <button type="submit" class="profile-form__submit" (click)="updateProfile()">{{submitButtonTitle}}</button>
    </form>
</section>
@if (renderMessage) {
    <app-popup-message is-succeed="{{isSucceed}}" message="{{message}}"></app-popup-message>
}
