<section class="node-info">
    <h2>{{title}}</h2>
    <form class="node-form" [formGroup]="nodeForm">
        <div class="node-form__item node-form__item--end">
            @if (nodeForm.controls.previewPath.value !== '') {
                <img class="avatar" ngSrc="{{nodeForm.controls.previewPath.value}}" alt="avatar" height="300" width="300" priority/>
            } @else {
                <img class="avatar" ngSrc="avatar.webp" alt="avatar" height="300" width="300" priority/>
            }
            <label class="node-form__label" for="avatar">Аватар:</label>
            <input type="file" id="avatar" name="avatar" accept="image/*" (change)="loadAvatar($event)" class="node-form__input node-form__input--file" formControlName="previewPath">
        </div>
        <div class="node-form__item node-form__item--end">
            <label class="node-form__label" for="name">Имя:</label>
            <input type="text" id="name" name="name" placeholder="Иван" class="node-form__input" formControlName="name">
        </div>
        <div class="node-form__item node-form__item--end">
            <label class="node-form__label" for="birthdate">Дата рождения:</label>
            <input type="date" id="birthdate" name="birthdate" class="node-form__input" formControlName="birthdate">
        </div>
        <div class="node-form__item node-form__item--end">
            <label class="node-form__label" for="deathdate">Дата смерти:</label>
            <input type="date" id="deathdate" name="deathdate" class="node-form__input" formControlName="deathdate">
        </div>
        <div class="node-form__item node-form__item--end">
            <label class="node-form__label" for="gender">Пол:</label>
            <select id="gender" name="gender" class="node-form__input node-form__input--select" formControlName="gender" >
                <option value="">Выберите пол</option>
                <option value="Мужской">Мужской</option>
                <option value="Женский">Женский</option>
            </select>
        </div>
        <div class="node-form__item node-form__item--end">
            <label class="node-form__label" for="description">Описание:</label>
            <textarea type="text" id="description" name="description" class="node-form__input node-form__text" formControlName="description"></textarea>
        </div>
        <button type="submit" class="node-form__submit" (click)="updateNode()">{{submitButtonTitle}}</button>
    </form>
</section>
@if (renderMessage) {
    <app-popup-message is-succeed="{{isSucceed}}" message="{{message}}"></app-popup-message>
}
