 @defer (when isGotUser()) {
  <app-header></app-header>

  @if (isMain) {
    <div class="container">
      <header class="hero">
        <h1>Ancestry Architect</h1>
        <p>Создавайте, делитесь и просматривайте семейные древа</p>
        <div class="background-image"></div>
      </header>
      <nav>
        <a [routerLink]="['tree', 'create']">Создать новое древо</a>
        <a [routerLink]="['tree', 'list']">Просмотреть мои деревья</a>
      </nav>
    </div>
  }

  <router-outlet (activate)="activateRouter()" (deactivate)="deactivateRouter()" />
 } @placeholder {
  <h2>Loading...</h2>
 }

 <div #elem></div>
