@mixin button($background){
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px; // Скругленные углы
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in-out;

    &:hover{
        background-color: darken($background, $amount: 10);
    }
}

@mixin button-file{
    margin-right: 10px;
    border: none;
    background: #b3d9ff;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    
    &:hover {
        background: #d0e3ff;
    }
}

@mixin button-confirmed{
    @include button(rgb(0,0,0));
    background: linear-gradient(90deg, #ff3333, #cc0033); 
    color: white;
    transition: all 0.3s ease-in-out;

    &:hover {
        background: linear-gradient(90deg, darken(#ff3333, 5%), darken(#ff3333, 5%));
    }

    &:active {
        background: #b30000; 
    }
    
    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
        background: #990000; 
    }
}