@mixin text-input{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px; // Закругленные углы для полей ввода
    border: 1px solid #ddd; // Светло-серый бордер для полей ввода

    &--valid{
        border-width: 3px;
        border-color: rgb(39, 153, 39);
    }
}

@mixin label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}