@mixin text-input{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px; 
    border: 1px solid #ddd; 

    &--valid{
        border-width: 3px;
        border-color: rgb(39, 153, 39);
    }
}

@mixin label {
    font-weight: bold;
}